html, body {
  height: 100%;
  margin: 0;
}

#pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

#contentWrapper {
  flex: 1; 
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px; /* Damit nichts am Rand klebt */
  box-sizing: border-box;
}

