/* Page Wrapper */
#pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Content nur auf 1440px begrenzen */
#contentWrapper {
  flex: 1;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  width: 100% ;
}

/* Header & Footer über volle Breite */
header, footer {
  width: 100%;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  background-color: #ef5350;
  color: white;
}

#logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

#logo img {
  height: 40px;
}

#searchBar {
  display: flex;
  gap: 8px;
}

#searchBar input {
  padding: 8px;
  border: none;
  border-radius: 4px;
}

#searchBar button {
  padding: 8px 12px;
  background: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Footer */
footer {
  text-align: center;
  padding: 16px;
  background-color: #f4f4f4;
  color: #666;
  font-size: 14px;
}

#pokemonList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px 0;
  width: 100%;
}
#loadMoreButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background: #ef5350;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}
#loadMoreButton:hover {
  background: #d32f2f;
}


